In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [31]:
def change_class(x):
    if x == "botnet":
        return 1
    elif x== "normal":
        return 0

    
def deal_empty_string(df):    
    df["domain"] = df["domain"].apply(lambda x: np.nan if x=="" else x)
    return df


def drop_rows_empty_string(df):
    return df[df["domain"] != ""]


def remove_chars_until(df, k):
    df["State"] = df["State"].apply(lambda x: x[k:])
    return df


def clean_ctu_13(df):
    df["class"] = df["class"].apply(change_class)
    df.drop(["src","dst","port","proto","label","modelsize"], axis=1, inplace=True)
    df.dropna(inplace=True)
    return df


def rename_string_col(df):
    return df.rename({"State":"domain"}, axis=1)


def save_df_as(df, file_name="default.csv"):
    file_name = "../Datasets/change_of_context/" + file_name
    df.to_csv(file_name, index=False)

In [18]:
ctu_13 = pd.read_csv("../Datasets/ctu-13.labeled.cleaned.csv")

In [3]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,990I0I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,11.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R...,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,96.F.,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,66.Z.z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,99.Z.z.Z.I.Z+,Normal-Jist,normal,13

In [19]:
ctu_13.shape

(9064, 8)

In [23]:
ctu_13[ctu_13["State"].str.len() > 3].shape

(9064, 8)

In [33]:
(ctu_13.copy()
     .pipe(remove_chars_until, 3)
     .pipe(rename_string_col)
     .pipe(drop_rows_empty_string)
     .pipe(clean_ctu_13)
     .pipe(save_df_as, "ctu_13_for_LSTM.csv"))