In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from random import randint

In [12]:
ctu_13 = pd.read_csv("../Datasets/ctu-13.labeled.cleaned.csv")

In [5]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R....,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,z.Z.I.Z+,Normal-Jist,normal,13

In [13]:
ctu_13["State"] = ctu_13["State"].apply(lambda x: x[5:])

In [14]:
def random_position_string(x):
    maxlen = 25
    if len(x)<=25:
        return x
    else:
        rand_pos = randint(0,len(x)-maxlen)
        return x[rand_pos:rand_pos+25]

In [15]:
ctu_13["State"] = ctu_13["State"].apply(random_position_string)

In [16]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,.R.u.u.u.r.u.r.u.U.R.R.u.,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,z.Z.I.Z+,Normal-Jist,normal,13

In [17]:
ctu_13.to_csv("../Datasets/ctu_13_without_first_5_charc_and_rand_pos_maxlen25.csv", index=False)