In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from random import randint

In [25]:
ctu_13 = pd.read_csv("../Datasets/ctu-13.labeled.cleaned.csv")

In [5]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R....,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,z.Z.I.Z+,Normal-Jist,normal,13

In [26]:
ctu_13["State"] = ctu_13["State"].apply(lambda x: x[5:])

In [2]:
def random_position_string(x):
    maxlen = 10
    if len(x)<=maxlen:
        return x
    else:
        rand_pos = randint(0,len(x)-maxlen)
        return x[rand_pos:rand_pos+maxlen]

In [28]:
ctu_13["State"] = ctu_13["State"].apply(random_position_string)

In [29]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,".r.D.A.D.w.u.U.S.R,R.r.R.R.w.U.U.s.v.s.F.u.U.U...",Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,z.Z.I.Z+,Normal-Jist,normal,13

In [23]:
ctu_13.to_csv("../Datasets/ctu_13_without_first_5_charc_and_rand_pos_maxlen75.csv", index=False)

In [3]:
def change_class(x):
    if x == "botnet":
        return 1
    elif x== "normal":
        return 0

In [4]:
#Varias corridas para la red
for i in range(0,10):
    #read raw dataset
    ctu_13 = pd.read_csv("../Datasets/ctu-13.labeled.cleaned.csv")
    
    #remove first 5 charc.
    ctu_13["State"] = ctu_13["State"].apply(lambda x: x[5:])
    
    #Select sub-string random pos
    ctu_13["State"] = ctu_13["State"].apply(random_position_string)
    
    #clean dataset
    ctu_13["State"] = ctu_13["State"].apply(lambda x: np.nan if x=="" else x)
    ctu_13.rename(columns={"State":"domain"}, inplace=True)
    ctu_13.drop(["src","dst","port","proto","label","modelsize"], axis=1, inplace=True)
    ctu_13["class"] = ctu_13["class"].apply(change_class)
    ctu_13.dropna(inplace=True)
    
    #Save dataset
    name = "../Datasets/Random_pos/ctu_13_without_first_5_charc_and_rand_pos_maxlen10_run"+str(i)+".csv"
    ctu_13.to_csv(name, index=False)